* {
  padding: 0;
  margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #212529;
    width: 100%;
}

.logo {
    width: 5%;
    position: absolute;
    top: 1%;
    left: 20%;
}

.menu {
    margin-bottom: 0%;
    font-size: 0.7rem;
    margin-left: 40%;
    list-style: none;
}

.menu li {
    padding: 4%;
    position: relative;
    display: inline-block;
}

.menu li ul li {
  box-sizing: border-box;
}

.menu li:hover ul {
  display: block;
}

.menu li:hover ul li:hover {
    transition-duration: 1s;
  background-color: #343a40
}

.menu li:hover ul li a:hover {
  color: white;
}

.menu ul {
  width: 100%;
  background-color: #212529;
  text-align: center;
  display: none;
  z-index: 9;
  position: absolute;
  padding-left: 0%;
  left: 0%;
  top: 100%;
}

.menu ul li {
  width: 100%;
}


a {
    color: #e3e3e3;
    text-decoration: none;
}

a:hover{
   color: #777;
}


main {
  width: 80%;
  margin: 0 auto;
  background: white;
  border-radius: 1%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

section{
  margin: 5%;
}

h2 {
  color: #1e1e1e;
  font-size: 1.5rem;
}

p {
  text-align: justify;
  margin: 1% 0;
}

#introduccionimg {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#primeraguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#finprimguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#segundaguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#finsegundaguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#consecguerras {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

hr {
  border: none;
  height: 3px;
  background-color: #e3e3e3;
  width: 80%;
  margin: 3% auto;
  border-radius: 2%;
}

footer p{
  text-align: center;
  color: #777;
}

footer a{
  margin-left: 43%;
  color: #777;
}