* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
}

.logo {
  width: 5%;
  position: absolute;
  top: 1%;
  left: 20%;
}

.menu {
  font-size: 0.7rem;
  margin-left: 40%;
  list-style: none;
}

.menu li {
  padding: 4%;
  position: relative;
  display: inline-block;
}

.menu li:hover ul {
  display: block;
}

.menu li:hover ul li:hover {
  transition-duration: 1s;
  transform: scale(1.2);
  background-color: gray
}

.menu li:hover ul li a:hover {
  color: white;
}

.menu ul {
  background-color: white;
  text-align: center;
  display: none;
  position: absolute;
  left: 0%;
  top: 100%;
}

.menu ul li {
  width: 92%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover{
  color: #777;
}


main {
  width: 80%;
  margin: 0 auto;
  background: white;
  border-radius: 1%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

section{
  margin: 5%;
}

h2 {
  color: #1e1e1e;
  font-size: 1.5rem;
}

p {
  text-align: justify;
  margin: 1% 0;
}

#primeraguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#finprimguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#segundaguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#finsegundaguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#consecguerras {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

footer {
  margin-top: 4%;
  color: #777;
}

footer p{
  text-align: center;
}