* {
  padding: 0;
  margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #212529;
    width: 100%;
}


.logo {
    width: 5%;
    position: absolute;
    padding-top: 1%;
    left: 20%;
}

.navbar{
    padding: 0;
    margin: 0;
}

.navbar-nav li{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 0.9rem;
}

.navbar-nav li:hover ul {
    display: block;
}

.navbar-nav li:hover ul li:hover {
    transition-duration: 2s;
    background-color: #343a40;
}

.submenu {
    list-style: none;
    background-color: #212529;
    text-align: center;
    display: none;
    z-index: 9;
    position: absolute;
    padding-left: 0%;
    top: 100%;
}


a {
    color: #e3e3e3;
    text-decoration: none;
}

a:hover{
   color: #777;
}


main {
  width: 80%;
  margin: 0 auto;
  background: white;
  border-radius: 1%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

section{
  margin: 5%;
}

h2 {
  color: #1e1e1e;
  font-size: 1.5rem;
}

p {
  text-align: justify;
  margin: 1% 0;
}

#primeraguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#finprimguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#segundaguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#finsegundaguerra {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

#consecguerras {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 3% auto;
  border-radius: 8px;
}

hr {
  border: none;
  height: 3px;
  background-color: #e3e3e3;
  width: 80%;
  margin: 3% auto;
  border-radius: 2%;
}

footer p{
  text-align: center;
  color: #777;
}

footer a{
  margin-left: 43%;
  color: #777;
}

@media (max-width: 993px) {
  .navbar-nav li:hover ul li:hover {
    background-color: #212529;
}

    footer {
        display: none;
    }

    .logo {
        display: none;
    }

    .navbar-toggler {
        padding-bottom: 2%;
        padding-top: 2%;
    }

    .submenu {
        list-style: none;
        background-color: #212529;
        text-align: left;
        display: block;
        z-index: 9;
        position: relative;
        padding-left: 10%;
    }
}