* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #212529;
    width: 100%;
}

.logo {
    width: 5%;
    position: absolute;
    top: 1%;
    left: 20%;
}

.menu {
    margin-bottom: 0%;
    font-size: 0.7rem;
    margin-left: 40%;
    list-style: none;
}

.menu li {
    padding: 4%;
    position: relative;
    display: inline-block;
}

.menu li ul li {
  box-sizing: border-box;
}

.menu li:hover ul {
  display: block;
}

.menu li:hover ul li:hover {
    transition-duration: 1s;
  background-color: #343a40
}

.menu li:hover ul li a:hover {
  color: white;
}

.menu ul {
  width: 100%;
  background-color: #212529;
  text-align: center;
  display: none;
  z-index: 9;
  position: absolute;
  padding-left: 0%;
  left: 0%;
  top: 100%;
}

.menu ul li {
  width: 100%;
}


a {
    color: #e3e3e3;
    text-decoration: none;
}

a:hover {
    color: #777;
}

.titulo-pagina {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3%;
}

h2 {
    margin: 10%;
    font-size: 1.1em;
    text-align: center;
}

hr {
    border: none;
    height: 3px;
    background-color: #e3e3e3;
    width: 80%;
    margin: 3% auto;
    border-radius: 2%;
  }
  
  footer {
    margin-top: 20%;
    text-align: center;
    color: #777;
  }
  
  footer a {
    margin-left: 5%;
    color: #777;
  }
