* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
}

.logo {
    width: 5%;
    position: absolute;
    top: 1%;
    left: 20%;
}

.menu {
    font-size: 0.7rem;
    margin-left: 40%;
    list-style: none;
}

.menu li {
    padding: 4%;
    position: relative;
    display: inline-block;
}


a {
    color: black;
    text-decoration: none;
}

a:hover{
   color: #777;
}

.cuerpo {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.c-item {
    height: 75vh;
}

.c-img {
    object-fit: cover;
    filter: brightness(0.6);
}

hr {
    border: none;
    height: 3px;
    background-color: #e3e3e3;
    width: 80%;
    margin: 3% auto;
    border-radius: 2%;
  }
  
  footer {
    text-align: center;
    color: #777;
  }
  
  footer a {
    margin-left: 5%;
    color: #777;
  }